@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import '../../node_modules/bulma/sass/utilities/initial-variables';

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: 'Helvetica', 'Arial', sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

@import '../../node_modules/bulma/bulma';

/* Some colors previously used in tubes
$br_dark_green: #006860;
$br_dark_purple: #770064;
$br_dark_red: #a92b00;
$br_light_green: #007d73;
$br_light_purple: #8f0078;
$br_light_red: #c63400;
*/
/* A purple palette
$map2-cat1: #da70ba;
$map2-cat2: #b40f7b;
$map2-cat3: #400035;
*/
/* A green-blue palette
$map2-cat1: #c7e9b4;
$map2-cat2: #41b6c4;
$map2-cat3: #253494;
*/

$map-default-bg: #f4f4f4;
$map1-bg: #800126;
$map2-cat1: #74a3eb;
$map2-cat2: #001d93;
$map2-cat3: #01000f;

@mixin tube-colors($base-color) {
  .right {
    fill: $base-color;
  }
  .left {
    //fill: $base-color;
    fill: darken($base-color, 4%);
  }
}

#page-title {
  background-color: $map1-bg;

  &.cocktail {
    background-color: $map1-bg;
  }
  &.limits {
    background-color: $map2-cat3;
  }
}

#navbarMaps {
  margin-top: 0.5em;
  margin-bottom: 1em;
  #nav-item-cocktail:hover,
  #nav-item-cocktail.is-active {
    background-color: $map1-bg;
    color: $light;
  }
  #nav-item-limits:hover,
  #nav-item-limits.is-active {
    background-color: $map2-cat3;
    color: $light;
  }
}

#app {
  padding-top: 0;
}
#search {
  margin-top: 2.5em;
  margin-bottom: 2em;
  .modal-content {
    max-height: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    .field {
      margin-bottom: 0;
    }
    #results li a {
      display: block;
      padding: 1em;
      font-weight: bold;
      color: $dark;
      transition: all 0.2s ease;
      p {
        font-size: 0.8rem;
        font-weight: normal;
      }
      &:hover,
      &:focus {
        color: $black;
        background-color: #f2f2f2;
        padding-left: 1.2em;
        transition: all 0.2s linear;
      }
    }
  }
  .modal-close {
    top: 3px;
    background-color: rgba(10, 10, 10, 0.2);
  }
}
#details {
  #details-main {
    min-height: 150px;
    header#idCard {
      h2,
      h3 {
        text-align: center;
        text-transform: uppercase;
      }
      h3 {
        color: $grey-dark;
        font-size: 1em;
        font-weight: normal;
        margin-top: 0;
      }
    }
    .tubes {
      svg.tube {
        margin: 10px 5px;
        font-size: 1.5rem;
        &.hhce {
          @include tube-colors(#f03b20);
        }
        &.no-hhce {
          @include tube-colors(#feb24c);
        }
        &.cat-1 {
          @include tube-colors($map2-cat1);
        }
        &.cat-2 {
          @include tube-colors($map2-cat2);
        }
        &.cat-3 {
          @include tube-colors($map2-cat3);
        }
      }
    }
  }
}
// See https://github.com/jgthms/bulma/issues/847#issuecomment-314110630
.is-loading {
  position: relative;
  pointer-events: none;
  opacity: 0.5;
  &:after {
    @include loader;
    position: absolute;
    top: calc(50% - 2.5em);
    left: calc(50% - 2.5em);
    width: 5em;
    height: 5em;
    border-width: 0.25em;
  }
}

#map {
  min-height: 150px;
  svg {
    width: 100%;
    .choropleth {
      path {
        stroke: none;
      }
    }
    .overlay path {
      fill: #ffffff01;
      &:hover {
        stroke: #e8336d;
        stroke-width: 2;
        stroke-opacity: 0.25;
      }
      &.selected {
        stroke: #e8336d;
        stroke-width: 2;
        stroke-opacity: 1;
      }
    }
    .fu-frontiers path {
      fill: none;
      stroke: #bbb;
      stroke-width: 1;
    }
    .annotation-note {
      font-size: 1.25rem;
    }
  }
}

.cocktail .choropleth path {
  fill: $map-default-bg;
}
.limits .choropleth path,
.limits .legend rect {
  stroke: white;
  stroke-width: 4px;
  &.cat-0 {
    fill: $map-default-bg;
  }
  &.cat-1 {
    fill: $map2-cat1;
  }
  &.cat-2 {
    fill: $map2-cat2;
  }
  &.cat-3 {
    fill: $map2-cat3;
  }
}

nav#footer-lang {
  margin-bottom: 1em;
  ul,
  li {
    display: inline-block;
  }
  li + li:before {
    content: ' · ';
    padding: 0;
    position: relative;
  }
}
