@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import '../../node_modules/bulma/sass/utilities/initial-variables';

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: 'Helvetica', 'Arial', sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

@import '../../node_modules/bulma/bulma';

#search {
}

#glass {
  min-height: 150px;

  div.composition-box {
    border: solid 1px black;
    padding: 1em;

    // See https://www.w3.org/Style/Examples/007/leaders.en.html
    ul.substances-list {
      max-width: 40em;
      margin-left: 0;
      padding: 0;
      overflow-x: hidden;
      list-style: none;
    }
    ul.substances-list li:before {
      float: left;
      width: 0;
      white-space: nowrap;
      content: '. . . . . . . . . . . . . . . . . . . . '
        '. . . . . . . . . . . . . . . . . . . . '
        '. . . . . . . . . . . . . . . . . . . . '
        '. . . . . . . . . . . . . . . . . . . . ';
    }
    ul.substances-list span:first-child {
      padding-right: 0.33em;
      background: white;
    }
    ul.substances-list span + span {
      float: right;
      padding-left: 0.33em;
      background: white;
    }
  }
}

#details {
  header#idCard {
    h2,
    h3 {
      text-align: center;
      text-transform: uppercase;
    }
    h3 {
      color: $grey-dark;
      font-size: 1em;
      font-weight: normal;
      margin-top: 0;
    }
  }
  .tubes {
    svg {
      margin: 6px;
    }
  }
}

// See https://github.com/jgthms/bulma/issues/847#issuecomment-314110630
.is-loading {
  position: relative;
  pointer-events: none;
  opacity: 0.5;
  &:after {
    @include loader;
    position: absolute;
    top: calc(50% - 2.5em);
    left: calc(50% - 2.5em);
    width: 5em;
    height: 5em;
    border-width: 0.25em;
  }
}

#map {
  min-height: 150px;
  svg {
    width: 100%;
    .choropleth {
      path {
        stroke: none;
        fill-opacity: 0.8;
        fill: #eee;
        &:hover {
          stroke: #e8336d;
          stroke-width: 1;
          stroke-opacity: 1;
        }
      }
    }
    .fu-frontiers path {
      fill: none;
      stroke: #bbb;
      stroke-width: 1;
    }
  }
}
