@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import '../../node_modules/bulma/sass/utilities/initial-variables';

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: 'Helvetica', 'Arial', sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

@import '../../node_modules/bulma/bulma';

#search {
  .click-on-map-text {
    text-align: right;
  }
}

#details {
}

// See https://github.com/jgthms/bulma/issues/847#issuecomment-314110630
.is-loading {
  position: relative;
  pointer-events: none;
  opacity: 0.5;
  &:after {
    @include loader;
    position: absolute;
    top: calc(50% - 2.5em);
    left: calc(50% - 2.5em);
    width: 5em;
    height: 5em;
    border-width: 0.25em;
  }
}

#map {
  svg {
    width: 100%;

    /*.background {
      display: none;
      path {
        fill: #e3eef9;
        stroke: none;
      }
    }*/
    .choropleth {
      path {
        stroke: none;
        fill-opacity: 0.8;
        fill: #eee;

        &:hover {
          stroke: #e8336d;
          stroke-width: 1;
          stroke-opacity: 1;
        }
      }
    }
    /*.countries-polygons path {
    fill: #ddd6;
    stroke: #bbb6;
    stroke-width: 1;
  }
  .countries-labels text {
    fill: #ddd;
    font-size: 10px;
    text-transform: uppercase;
  }
  .shadow path {
    fill: #f8f8f8;
    stroke: #bbb;
    stroke-width: 1;
  }*/
    .fu-polygons path {
      fill: none; //#eef6e6;
      stroke: #bbb;
      stroke-width: 1;
    }
    .fu-frontiers path {
      fill: none; //#eef6e6;
      stroke: #bbb;
      stroke-width: 1;
    }
    /*.states-labels text {
    fill: #8b8b8b;
    font-size: 10px;
    text-transform: uppercase;
  }*/
  }
}
